:root {
    --txt-white: white;
    --txt-black: black;
    --bg-dark: rgb(50, 50, 50);
    --bg-dark2: rgb(40, 40, 45);
    --bg-dark3: rgb(70, 70, 70);
    --bg-blue: rgb(110, 219, 255);
    --bg-hover-dark: rgb(30, 30, 30);
    --bg-hover-blue: rgb(110, 219, 255);
    --bg-hover-blue2: rgb(166, 233, 255);
    --transition-time: 0.3s;


    --test-bg1: brown;
    --test-bg2: green;
    --test-bg3: blue;
}

* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.left{
    float: left;
}
.right{
    float: right;
}

/* Header Section */
header{
    background: linear-gradient(to bottom, #003366 0%, #006699 100%);
    width: 100%;
    overflow: hidden;
}

header img {
    height: 100px;
    margin-left: 10px;
    float: left;

    user-select: none;
    -webkit-user-drag: none;
}

.header-nav{
    height: 50px;
    width: 300px;
}

.header-link{
    background-color: var(--bg-dark);
    color: var(--txt-white);

    height: 100%;
    width: 140px;
    border-radius: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    font-size: 20px;
}

.header-link:hover{
    background-color: var(--bg-hover-dark);

    transition-duration: var(--transition-time);
    -webkit-transition-duration: var(--transition-time);
}

/* Navigation Section */
nav {
    overflow: hidden;
    background-color: var(--bg-dark);
}

nav a {
    float: left;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    padding: 15px 30px;
    text-decoration: none;
}

nav .nav-home{
    background-color: var(--bg-blue);
    color: var(--txt-black);
}

nav .nav-menu{
    background-color: inherit;
    color: var(--txt-white)
}

.nav-home{
    background-color: var(--bg-blue);
    color: var(--txt-black);
}

/* Dropdown Section  */
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    color: var(--txt-white);
    background-color: var(--bg-dark);

    font-size: 18px;
    font-weight: 600;
    border: none;
    outline: none;
    padding: 15px 38px;
    height: 100%;
    font-family: inherit;
    margin: 0; 
    cursor: pointer;
}

.nav-menu:hover, .dropdown:hover .dropbtn {
    background-color: var(--bg-hover-blue);
    color: var(--txt-black);

    transition-duration: var(--transition-time);
    -webkit-transition-duration: var(--transition-time);
}

.nav-home:hover{
    background-color: var(--bg-hover-blue2);
    
    transition-duration: var(--transition-time);
    -webkit-transition-duration: var(--transition-time);
}

.dropdown-content {
    
    display: none;
    position: absolute;
    background-color: var(--bg-dark);
    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: var(--txt-white);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    text-decoration: none;
}

.dropdown-content a:hover {
    transition-duration: var(--transition-time);
    -webkit-transition-duration: var(--transition-time);

    background-color: var(--bg-hover-dark);
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Main section */
main{
    overflow: hidden;
    height: auto;
    width: 100%;
}

/* home.html section */
.home{
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../images/background_home.jpg");
    height: 700px;
    text-align: center;
    color: var(--txt-white);
}
.home h1{
    padding-top: 200px;
    font-size: 50px;
    font-weight: bolder;
}
.home p{
    padding-top: 30px;
    padding-bottom: 60px;
}
.home a{
    color: var(--txt-white);
    background-color: var(--bg-dark);

    font-size: 16px;
    padding: 10px 16px;
    border-radius: 200px;
    text-decoration: none;
}

/* about.html section */
.about {
    background-color: var(--bg-dark2);
    color: var(--txt-white);
}

.about .title{
    background-color: var(--bg-dark3);
    width: 100%;
    height: 150px;
    text-align: center;
}

.about .title h1{
    padding-top: 40px;
    font-size: 48px; 
}

.about .content{
    margin: 0px 15%;
    margin-top: 40px;
    padding-bottom: 50px;

    text-align: justify;
}

.about .contact{
    margin-top: 20px;
}

.about .contact h2{
    font-size: 32px;
    margin-bottom: 20px;
}

.about .contact a{
    color: var(--txt-white);
    text-decoration: none;
}

.about .contact a:hover {
    text-decoration: underline;
}

/* login.html section */
.forms{
    text-align: center;
}

.login {
    height: 500px;
}

.forms h1{
    margin-top: 70px;
    margin-bottom: 30px;

    font-size: 56px;
}

.forms form label, .forms form input, .forms form select{
    font-size: 18px;
}

.forms form label, .forms form input {
    margin-top: 20px;
    margin-bottom: 10px;
}

.forms form select {
    margin-top: 10px;
    margin-bottom: 20px;
}

.forms form input{
    width: 300px;
    outline: 0;
    border-width: 0 0 2px;
}

.forms form input:last-child{
    width: auto;
    padding: 4px 40px;
    border-radius: 200px;
    color: var(--txt-white);
    border-style: none;
    margin-top: 10px;
    background-color: var(--bg-dark);
}

.forms form input:last-child:hover{
    transition-duration: var(--transition-time);
    -webkit-transition-duration: var(--transition-time);
    background-color: var(--bg-hover-dark);
}

.forms a{
    text-decoration: none;
}
.forms a:hover{
    text-decoration: underline;
}

/* register.html section */
.register {
    height: 750px;
    width: 60%;
    margin: 0px 20%;
}

.register form {
    text-align: left;
}

.register form input, .register form select {
    width: 100%;
}

.register .radio {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}
.radio input[type="radio"] {
    width: auto;
    margin-right: 5px;
    margin-left: 10px;
}

.register .submit {
    text-align: center;
}

/* div for erorr */
#error{
    height: 20px;
    font-size: 16px;
    color: red;
}

/* Menu section */
.menu {
    background-image: url("../images/background_menu.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--txt-white);
    padding-top: 30px;
    padding-bottom: 70px;
}

.menu h1 {
    margin-top: 50px;
    padding-bottom: 20px;
    font-size: 64px;
}

.menu-container {
    margin: 0px 10%;
    width: 80%;
    text-align: center;
}

.menu-list {
    margin-top: 20px;
    width: 100%;
}

.menu-item {
    color: var(--txt-black);
    background-color: beige;
    overflow: hidden;
    float: left;
    vertical-align: middle;
    margin-top: 10px;
}

.menu-img-container {
    height: 70%;
    width: 80%;
    margin: 0% 10%;
}

.menu-img-container img{
    width: 100%;
    margin: auto;
}

.fav {
    background-color: gold;
    height: 20%
}

/* If screen is below 600 px */
@media only screen and (max-width: 600px) {
    header{
        height: 200px;
    }

    header img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .header-nav{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 120px;
    }

    .home p {
        font-size: 24px;
    }

    .about .content{
        line-height: 160%;
        word-spacing: 4px;
    }
    
    .about .content p{
        font-size: 14px;
    }

    .about .contact p {
        font-size: 12px;
    }

    .menu h1 {
        font-size: 30px;
    }

    .menu p {
        font-size: 16px;
    }

    .menu-item {
        border-radius: 20px;
        width: 45%;
        height: 44vw;
        margin: 4px 2%;
    }

    .menu-list p , .fav{
        font-size: 3vw;
    }
}

/* If screen is above 600px */
@media screen and (min-width: 601px) {
    header {
        height: 100px;
    }
    header img {
        float: left;
    }

    .header-nav{
        margin-top: 25px;
        margin-right: 2%;
        float: right;
    }

    .home p {
        font-size: 36px;
    }

    .about .content{
        line-height: 200%;
        word-spacing: 7px;
    }
    
    .about .content p{
        font-size: 16px;
    }

    .about .contact p {
        font-size: 14px;
    }
    
    .menu h1 {
        font-size: 64px;
    }
    
    .menu p {
        font-size: 18px;
    }

    .menu-item {
        border-radius: 20px;
        width: 23%;
        height: 22vw;
        margin: 0px 1%;
    }

    .menu-list p , .fav{
        font-size: 1.5vw;
    }
}

/* Footer section */
footer {
    background-color: var(--bg-dark);
    height: 120px;
    width: 100%;
    overflow: hidden;
}

footer p {
    margin-top: 10px;
    color: var(--txt-white);
    display: flex;
    justify-content: center;
}

.footer-logos{
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.footer-logos a {
    margin: 0px 20px;
    text-decoration: none;
}

.footer-logos img {
    user-select: none;
    -webkit-user-drag: none;
}